@model IEnumerable<Expense_Tracker_MVC.Models.Expenses>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js" integrity="sha512-AA1Bzp5Q0K1KanKKmvN/4d3IRKVlv9PYgwFPvm32nPO6QS8yH1HO7LbgB1pgiOxPtfeg5zEn2ba64MUcqJx6CA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<h2>Expense Details</h2>
<p>
    <a class="btn btn-success mt-4" asp-controller="Expense" asp-action="Edit"> <i class="bi bi-bookmark-plus-fill"></i>  Add</a>
</p>
<table class="table table-bordered border-2 table-striped table-hover">
    <tdead>
        <tr class="bg-dark text-white">
            <th>Category Name</th>
            <th>Description</th>
            <th>Amount</th>
            <th>Spend Date</th>
            <th>Action</th>
        </tr>
    </tdead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CategoryName</td>
                <td>@item.Description</td>
                <td>@item.Amount</td>
                <td>@item.Date.ToString("dd-MM-yyyy")</td>

                <th>
                   @*  <a class="btn btn-primary btn-sm mr-2" asp-controller="Expense" asp-action="Edit" asp-route-id="@item.Id"> <i class="bi bi-pencil-square"></i>Edit</a> *@
                    <a class="btn btn-sm btn-danger" onclick="deleteClick('@item.Id')"> <i class="bi bi-bag-x"></i> Delete</a>
                </th>
            </tr>
        }
    </tbody>
</table>


@Html.Partial("Index")





<Script>

    function deleteClick(id) {
        swal({
            title: "Are you sure?",
            text: "Once deleted, you will not be able to recover this record!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                            url: "/Expense/Delete?id=" + id,
                        type: "POST",
                        contentType: false,
                        dataType: "json",
                        success: function (result) {
                           
                            setTimeout(reload, 200);
                        },
                        error: function (errormessage) {
                            console.log(errormessage.responseText);
                        }
                    });
                }
                else {
                    swal({
                        text: "Your record is safe!",
                        timer: 850
                    });
                }
            });
    };

    function reload() {
        window.location.reload();
    }
</Script>


@{
        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />

        <script>
            $(document).ready(function () {

                if ('@TempData["ExpenseToastr"]' == "Nothing") {

                }
                else if ('@TempData["ExpenseToastr"]' == "Created successful") {
                     toastr.success('@TempData["ExpenseToastr"]');
                }
                else 
                {
                     toastr.info('@TempData["Toastr"]');
                }
            });
        </script>
}